$main-background-color: hsl(0, 0%, 100%);
$secondary-background-color: hsl(0, 0%, 95%);
$main-color: hsl(200, 15%, 8%);
$input-color: hsl(0, 0%, 52%);

$dark-main-background-color: hsl(209, 23%, 22%);
$dark-main-color: hsl(0, 0%, 100%);